$main-font: "Metal Mania", serif;

$primary-color: #000000;
$secondary-color: #0e0e0e;
$accent-color1: #ee964b;
$accent-color2: grey;

$sm: 320px;
$desc: 1200px;

$gap-margin-padding-sm: 12px;
$gap-margin-padding-mm: 16px;
$gap-margin-padding-pt-lt: 20px;
$gap-margin-padding-desc: 24px;

$breakpoint-small-mobile: 320px;
$breakpoint-medium-mobile: 480px;
$breakpoint-portrait-tablet: 768px;
$breakpoint-landscape-tablet: 1024px;
$breakpoint-desktop: 1200px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $primary-color;
    color: rgb(168, 0, 0);

    h1 {
        font-size: 36px;
        text-shadow: 2px 2px 4px #292929;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    button {
        min-width: 130px;
        height: 60px;
        color: rgb(97, 97, 97);
        padding: $gap-margin-padding-sm;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #080808;
        box-shadow: 0 5px #141414;
        outline: 0;
        cursor: pointer;
        user-select: none;
        touch-action: manipulation;
        align-items: center;
        
        &:hover {
            box-shadow: 0 3px #0e0e0e;
            top: 1px;
            color: rgb(168, 0, 0);
        }

        &:active {
            box-shadow: 0 0 #0e0e0e;
            top: 5px;
        }
    }

    header {
        width: 100%;
        min-width: $sm;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $gap-margin-padding-sm;
        gap: $gap-margin-padding-sm;
    }

    main {
        width: 100%;
        min-width: $sm;
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            width: 95%;
            min-width: calc($sm * 0.95);
            display: flex;
            justify-content: center;
            margin-top: $gap-margin-padding-sm;
        }

        .player {
            border-radius: $gap-margin-padding-sm;

            background-color: $secondary-color;
            padding: $gap-margin-padding-sm;
            gap: $gap-margin-padding-sm;

            opacity: 0.3;
        }

        .player-active {
            opacity: 1;
        }

        .player-winner {
            opacity: 1;
            background-color: rgb(168, 0, 0);
        }

        .game-container {
            .image-container {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .dice {
                    width: 75%;
                }
            }

            .button-container {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: $gap-margin-padding-sm;
            }

        }

        .total {
            width: 60%;
            background-color: $primary-color;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .current {
            width: 40%;
            color: black;

            border-radius: $gap-margin-padding-sm;

            background-color: $accent-color2;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: $gap-margin-padding-sm;
        }
    }

    @media (min-width: $breakpoint-medium-mobile) {
        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 32px;
        }

        h4 {
            font-size: 28px;
        }

        h5 {
            font-size: 20px;
        }

        button {
            padding: $gap-margin-padding-mm;
            min-width: 170px;
        }

        header {
            margin-bottom: $gap-margin-padding-mm;
            gap: $gap-margin-padding-mm;
        }

        section {
            margin-top: $gap-margin-padding-mm;
        }

        .player {
            border-radius: $gap-margin-padding-mm;
            padding: $gap-margin-padding-mm;
            gap: $gap-margin-padding-mm;

            .current {
                border-radius: $gap-margin-padding-mm;
                padding: $gap-margin-padding-mm;
            }
        }

        .game-container {
            .button-container {
                gap: $gap-margin-padding-mm;
            }
        }
    }
    @media (min-width: $breakpoint-portrait-tablet) {
        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 50px;
        }

        h3 {
            font-size: 40px;
        }

        h4 {
            font-size: 34px;
        }

        h5 {
            font-size: 26px;
        }

        button {
            padding: $gap-margin-padding-pt-lt;
            height: 80px;
        }

        header {
            margin-bottom: $gap-margin-padding-pt-lt;
            gap: $gap-margin-padding-pt-lt;
        }

        section {
            margin-top: $gap-margin-padding-pt-lt;
        }

        .player {
            border-radius: $gap-margin-padding-pt-lt;
            padding: $gap-margin-padding-pt-lt;
            gap: $gap-margin-padding-pt-lt;

            .current {
                border-radius: $gap-margin-padding-pt-lt;
                padding: $gap-margin-padding-pt-lt;
            }
        }

        .game-container {
            .button-container {
                gap: $gap-margin-padding-pt-lt;
            }
        }
    }
    @media (min-width: $breakpoint-landscape-tablet) {
        button {
            min-width: 250px;
        }
        main {
            width: 95%;
            flex-direction: row;
            section {
                min-height: 340px;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
            }
            .game-container {
                width: 30%;
            }
            .player {
                width: 35%;
                .total {
                    width: 100%;
                }
                .current {
                    width: 100%;
                }
            }
        }
    }
    @media (min-width: $breakpoint-desktop) {
        main {
            max-width: $desc;
            h1 {
                font-size: 72px;
            }
 
            h2 {
                font-size: 60px;
            }
 
            h3 {
                font-size: 50px;
            }
 
            h4 {
                font-size: 40px;
            }

            h5 {
                font-size: 30px;
            }
 
            button {
                padding: $gap-margin-padding-desc;
                min-width: 300px;
                height: 90px;
            }
 
            header {
                margin-bottom: $gap-margin-padding-desc;
                gap: $gap-margin-padding-desc;
            }
 
            section {
                margin-top: $gap-margin-padding-desc;
            }
 
            .player {
                border-radius: $gap-margin-padding-desc;
                padding: $gap-margin-padding-desc;
                gap: $gap-margin-padding-desc;
 
                .current {
                    border-radius: $gap-margin-padding-desc;
                    padding: $gap-margin-padding-desc;
                }
            }
 
            .game-container {
                gap: $gap-margin-padding-desc;
                .button-container {
                    gap: $gap-margin-padding-desc;
                }
            }
        }
    }
}